---
import env from "../env";
// import { getPreferableLangs } from "../utils/url";
// import { getLangs } from "../data/env";

// const LANGS = getLangs(Astro.request);
// let redirectLang =
// 	getPreferableLangs(Astro.request).find((code) => LANGS.includes(code)) ||
// 	LANGS[0];

// return Astro.redirect(`/${redirectLang}`, 301);
const langs = env.LANGS;
const key = env.GOOGLE_API_KEY;
---

<html>
	<body>
		<p>ENV_OBJ: {JSON.stringify(env)}</p>
		<p>ENV_DATA: {langs} {key}</p>
	</body>
</html>
