---
// import { getPreferableLangs } from "../utils/url";
// import { AVAILABLE_LANGS, DEFAULT_LANG } from "../generated";

// let redirectLang =
// 	getPreferableLangs(Astro.request).find((code) => AVAILABLE_LANGS.includes(code)) ||
// 	DEFAULT_LANG;

// return Astro.redirect(`/${redirectLang}`, 301);
---

<html lang={'lang'}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro JS 404 Page</title>
  </head>

  <body>
    <main class="container">
      <section class="content">
        <h1>Page not found!</h1>
        <p>
          Path not recognised&hellip; <a
            aria-label="Return to home page"
            href="/"
            >Go&nbsp;home?
          </a>
        </p>
      </section>
    </main>
  </body>
</html>